
.form {
   margin-bottom: 20px;
 }
 
.form label {
   display: block;
   margin-bottom: 5px;
   color: #666;
 }
 
 .form input[type="text"],
 .form input[type="number"] {
   width: calc(100% - 80px);
   padding: 8px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 14px;
 }
 
.form .submitButton {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 .form .submitButton:hover {
   background-color: #45a049;
 }
 .error{
  color: red;
 }